.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.affix {
  position: fixed;
}
.stark {
  color: red;
}
.stark {
  height: 400px;
}
.subtle,
.stark {
  background: black;
}
.subtle:hover {
  clear: both;
}
.subtle:hover {
  float: right;
}
.a,
.b,
.d,
.c,
.e,
.d {
  color: black;
}
.b,
.c,
.e,
.d {
  one: one;
}
.c {
  two: two;
}
.d {
  three: three;
}
.e,
.d {
  four: four;
}
.f,
.e,
.d {
  color: black;
}
