.stark {
  color: red;
}
.stark {
  height: 400px;
}
.subtle,
.stark {
  background: black;
}
.subtle:hover {
  clear: both;
}
.subtle:hover {
  float: right;
}
.a,
.b,
.d,
.c,
.e,
.d {
  color: black;
}
.b,
.c,
.e,
.d {
  one: one;
}
.c {
  two: two;
}
.d {
  three: three;
}
.e,
.d {
  four: four;
}
.f,
.e,
.d {
  color: black;
}
