@media (-o-min-device-pixel-ratio: 2/1) {
  .test-maths-and-units {
    font: ignores 0/0 rules;
    mix-units: 5px;
    invalid-units: 1px;
    test-division-strict: 7em;
    test-division: 7em;
  }
}
